.formbase {
    width: 50%;
    padding: 0px 10px 0px 15px;
}

.inputfield {
    border-bottom: 1px solid gray;
    padding: 10px 0 5px 0;
}

.inputfield-label {
    width: 150px;
}

.inputfield-field {

}
