<div class="formbase">
    <h3>@Label</h3>
    @ChildContent
</div>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
