<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">StockHouse</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stock/add" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Add Stock
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="item" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Items List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="name" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Names List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="location" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Locations List
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
