@typeparam T
@inherits Partials.ObjectField<T>

<FieldBase>
    <label>@Label</label>
    <div class="customselect">
        <div class="customselect-display form-select" @onclick="ShowHideOptions">
            @if (Value != null)
            {
                <div class="text">@DisplayMethod.Invoke(Value)</div>
            }
            else
            {
                <div class="text">-----------</div>
            }
        </div>

        @if (ShowingOptions)
        {
            <div class="customselect-selection">
                @foreach (var option in Options)
                {
                    <div @onclick="() => UpdateSelection(option)"><div class="text">@DisplayMethod.Invoke(option)</div></div>
                }
            </div>
        }

    </div>
</FieldBase>


@code {
    bool ShowingOptions = false;
    void ShowHideOptions()
    {
        ShowingOptions = !ShowingOptions;
    }

    async Task UpdateSelection(T selected)
    {
        ShowingOptions = false;
        await SetValue(selected);
    }
}
